@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/variables" as *;

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $header-bg;
  color: $primary-text-light;
  padding: 8px;

  .nav-menu {
    // display: flex;
    // justify-content: center;
    // align-items: center;

    
    //     path {
    //         fill: $icons-light;
    //     }
    // }

    &__menu-item-text {
      @include typekit(body-copy, mobile);
      text-align: center;
    }
  }

  &__company-wrapper {
    display: flex;
    align-items: center;
    column-gap: 16px;
  }

  &__company-logo {
    height: 36px;

    path {
      fill: $primary-text-light;
    }
  }

  &__company-name {
    @include typekit(page-header, mobile);
    color: $primary-text-light;
  }

  &__navlinks {
    display: flex;
    color: $primary-text-light;
    column-gap: 16px;
  }

  &__navlink-item {
    color: inherit;
  }

  &__navlink {
    color: inherit;
  }

  @include breakpoint(tablet) {
    padding: 24px;
  }
}
