@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/variables" as *;

.header {  

  .nav-menu {
    &__menu-item-text {
      text-align: center;
    }
  }  

  &__company-logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__navlink-item {
    color: inherit;
  }

  &__navlink {
    @include typekit(body-copy, mobile);
    color: inherit;
  }

  @include breakpoint(tablet) {
    padding: 24px;

    &__navlink {
      @include typekit(body-copy, tablet-desktop);
    }
  }
}
