@use './variables' as *;

// Typekit mixins

@mixin typekit($type, $breakpoint) {
  $typeSettings: (
    page-header: (
      mobile: (
        font-size: 32px,
        line-height: 1.1875,
        font-weight: 700,
        font-family: "Newsreader Variable",
      ),
      tablet-desktop: (
        font-size: 44px,
        line-height: 1.1875,
        font-weight: 700,
        font-family: "Newsreader Variable",
      ),
    ),
    section-header: (
      mobile: (
        font-size: 24px,
        line-height: 1.1667,
        font-weight: 600,
        font-family: "Newsreader Variable",
      ),
      tablet-desktop: (
        font-size: 24px,
        line-height: 1.1667,
        font-weight: 600,
        font-family: "Newsreader Variable",
      ),
    ),
    subheader1: (
      mobile: (
        font-size: 20px,
        line-height: 1.2,
        font-weight: 500,
        font-family: "Inter Variable",
      ),
      tablet-desktop: (
        font-size: 20px,
        line-height: 1.2,
        font-weight: 500,
        font-family: "Inter Variable",
      ),
    ),
    subheader2: (
      mobile: (
        font-size: 16px,
        line-height: 1.25,
        font-weight: 500,
        font-family: "Inter Variable",
      ),
      tablet-desktop: (
        font-size: 16px,
        line-height: 1.25,
        font-weight: 500,
        font-family: "Inter Variable",
      ),
    ),
    labels-links-btns: (
      mobile: (
        font-size: 10px,
        line-height: 1.4,
        font-weight: 700,
        font-family: "Inter Variable",
      ),
      tablet-desktop: (
        font-size: 12px,
        line-height: 1.666,
        font-weight: 700,
        font-family: "Inter Variable",
      ),
    ),
    body-copy: (
      mobile: (
        font-size: 14px,
        line-height: 1.2857,
        font-weight: 400,
        font-family: "Inter Variable",
      ),
      tablet-desktop: (
        font-size: 14px,
        line-height: 1.2857,
        font-weight: 400,
        font-family: "Inter Variable",
      ),
    ),
  );

  $styles: map-get($typeSettings, $type);
  $selectedStyles: map-get($styles, $breakpoint);

  font-weight: map-get($selectedStyles, "font-weight");
  font-size: map-get($selectedStyles, "font-size");
  line-height: map-get($selectedStyles, "line-height");
  font-family: map-get($selectedStyles, "font-family");
}

// Breakpoint mixins

@mixin breakpoint($size) {
  @if $size == tablet {
    @media (min-width: 48rem) {
      @content;
    }
  } @else if $size == desktop {
    @media (min-width: 80rem) {
      @content;
    }
  }
}

// Positioning mixins

@mixin positioning($type, $top, $right, $bottom, $left) {
  position: $type;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin centerer($pos, $value) {
  position: $pos;
  @if $value == y {
    top: 50%;
    transform: translateY(-50%);
  } @else if $value == x {
    left: 50%;
    transform: translateX(-50%);
  } @else if $value == center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// Combined vert-horiz padding mixins
@mixin axial-padding($axis, $top-left, $bottom-right) {
  @if $axis == x {
    padding-left: $top-left;
    padding-right: $bottom-right;
  } @else if $axis == y {
    padding-top: $top-left;
    padding-bottom: $bottom-right;
  }
}