// Eucalyptus
$site-primary-color: #23b14d;

// Pampas
$site-light-shades: #f0edea;

// Gulf stream
$site-light-accent: #7fb2b2;

// Outer space
$site-dark-shades: #202927;
$primary-text: $site-dark-shades;

// Clay creek
$site-dark-accent: #898d53;

// Sahara
$site-warning-color: #bda017;

// Pomegranate
$site-danger-color: #f44336;

///////////////////////////////////


