$site-primary-color: #23b14d;


$site-light-shades: #fafafa;


$site-light-accent: #68858f;


$site-dark-shades: #1c202c;
$primary-text: $site-dark-shades;


$site-dark-accent: #108c10;


$site-warning-color: #bda017;


$site-danger-color: #f44336;