@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

/* App.css */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    color: $neutral-dark;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo-icon {
        fill: #4CAF50;
        width: 250px;

        path {
            fill: #4CAF50;
        }
    }

    &__heading {
        @include typekit(section-header, mobile);
        @include axial-padding(y,16px,8px);
    }

    &__text {
        padding-bottom: 8px;
        @include typekit(body-copy-alt, mobile);

    }

    .age-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px;

        &__fields-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 8px;
            padding-bottom: 8px;
        }

        &__field {
            width: 60px;
            padding-left: 8px;
            @include axial-padding(y,4px,4px);
            @include typekit(body-copy-alt, mobile);
            border: 1px solid $neutral-dark;
            border-radius: 4px;

        }
    }
}
